/* debug */
div {
    outline: 1px dotted red;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}


.master-wrapper {
    margin: 10vh 0px;
    display: flex;
    flex-flow: row nowrap;
    height: 80vh;
}

.flavor-section {
    flex: 1;
}

.form-section {
    flex: 2;
}


/* FORM STYLING */
input {
    width: 25ch;
}

.input-block {
    display: flex;
    flex-flow: row wrap;
}

.input-cell {
    display: flex;
    flex-flow: column nowrap;
}


input:valid {
    border: 1px solid green;
}

label.invalid-help {
    display: none;
}

input.invalid,
input:invalid {
    border: 1px solid red;
}

input.invalid+label.invalid-help,
input:invalid+label.invalid-help {
    display: block;
}
