/* debug */
div {
    /* outline: 1px dotted red; */
}

/* global */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;

}


.master-wrapper {
    /* margin: 10vh 0px; */
    display: flex;
    flex-flow: row nowrap;
    height: 99vh;
}

.flavor-section {
    flex: 3;
}

.form-section {
    flex: 5;
}

/* FLAVOR STYLING */
.flavor-section {
    position: relative;
    background-image: url("./assets/background-image.jpg");



    height: 100%;
}

.image-credit {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.image-credit {
    display: block;
    text-align: center;
}

.banner {
    height: clamp(5rem, 15%, 10rem);
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: rgba(100, 100, 100, 0.5);
    position: absolute;
    top: 15%;
}

.banner>img {
    height: 100%;
}

.banner>span {
    align-self: center;
    font-size: 3rem;
}





/* FORM STYLING */

input {
    width: 25ch;
}

legend {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.input-block {
    display: flex;
    flex-flow: row wrap;
    min-width: 25ch;
    max-width: 75ch;
}

.submit-block {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 25ch;
}

.input-cell {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 1rem;
    margin-right: 1.5rem;
}


input:valid {
    border: 1px solid green;
}

label.invalid-help {
    display: none;
}

input.invalid,
input:invalid {
    border: 1px solid red;
}

input.invalid+label.invalid-help,
input:invalid+label.invalid-help {
    display: block;
}
